/*
BASIC CONFIG
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.height-value {
  position: fixed;
  z-index: 50;
}

.main-app-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

/*
LOADING HOME
*/

.loading-home-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: rgb(237,242,23);
  background: radial-gradient(circle, rgba(237,242,23,1) 0%, rgba(102,105,1,1) 100%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-home-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.loading-tml-logo {
  width: 25%;
}

.loader-home-container {
  width: 25%;
  height: 20px;
  background-color: none;
  margin-top: 50px;
  border-radius: 30px;
  border: 3px solid black;
}

.loader-home {
  width: 0%;
  height: 100%;
  background: rgb(93,22,136);
  background: linear-gradient(90deg, rgba(93,22,136,1) 0%, rgba(222,0,255,1) 100%);
  transform-origin: left;
}

.loading-home-text {
  margin-top: 25px;
  font-family: 'Montserrat', 'sans-serif';
}


/*HEADER-COVER*/

.header-cover {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background-image: url("/assets/amicorum-1.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
  display: flex;
}

.header-shader {
  width: 100%;
  background-color: rgba(146, 144, 27, 0.274);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header-logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 75%;
}

.header-logo {
  width: 40%;
  padding: 30px 15px;
  border-radius: 16px;
  background-color: hsla(62, 93%, 16%, 0.714);
  box-shadow: 0px 10px 10px black;
}

.howto-container {
  height: 17vh;
  width: 100%;
  background: rgb(235,234,198);
  background-color: #4c4f03de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.howto-container h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 1.7vw;
  padding: 0 0 20px 0;
}
.howto-container h2 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 1.15vw;
}

.mobile-h1 {
  display: none;
}

.mobile-h2 {
  display: none;
}


/*
PINNING TRANSITION
*/

.transition-1-container {
  overflow: hidden;
  position: absolute;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: powderblue;
  width: 100%;
  top: 0;
}

.transition-1-item-1 {
  width: 100%;
  height: 100%;
  background: rgb(76,79,3);
  background: linear-gradient(180deg, rgba(76,79,3,1) 0%, rgba(172,179,1,1) 100%);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transition-1-item-2 {
  width: 100%;
  height: 100%;
  background: rgb(0,60,254);
  background: linear-gradient(90deg, rgba(0,60,254,1) 0%, rgba(3,76,59,1) 82%, rgba(3,77,53,1) 100%);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transition-1-item-3 {
  width: 100%;
  height: 100%;
  background: rgb(254,0,240);
  background: linear-gradient(90deg, rgba(254,0,240,1) 0%, rgba(255,0,0,1) 100%);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition-1-text-1 {
  font-family: 'Montserrat', 'sans-serif';
  font-family: 'Raleway', sans-serif;
  font-size: 2.4vw;
  color: rgb(255, 255, 255);
}

.transition-1-text-2 {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 2.4vw;
  color: rgb(255, 255, 255);
}

.transition-1-text-3 {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 2.4vw;
  color: rgb(255, 255, 255);
}

/*
ANNOUCEMENT
*/

.announcement-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background-color: black;
  display: flex;
  position: absolute;
  top: 0;
}

.announcement-bg-container {
  width: 100%;
  background-image: url("/assets/amicorum-2.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
}

.announcement-shader {
  width: 100%;
  background-color: black;
  opacity: 0.6;
  display: flex;
}

.announcement-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 2s ease;
}

.announcement-text {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2.4vw;
}

.a-anim-11 {
  font-size: 70px;
}

.editions-start-anim-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}

.a-anim-12 {
  width: 100%;
  height: 50%;
  background-image: url("/assets/arminvb.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 60px;
  position: relative;
}

.a-anim-12-shader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 246, 10, 0.267);
}

.a-anim-13 {
  width: 100%;
  height: 50%;
  background-image: url("/assets/martin-garrix.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 60px;
  position: relative;
  background-size: cover;
  background-position: 0% 25%;
}

.a-anim-13-shader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 10, 10, 0.267);
}

.a-anim-14 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(91,91,91);
  background: radial-gradient(circle, rgba(91,91,91,1) 0%, rgba(39,39,39,1) 34%, rgba(0,0,0,1) 100%);
}

.a-anim-14 img {
  max-width: 90%;
  max-height: 90%;
}

/*
EDITIONS
*/

.editions-main-container {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  display: flex;
  background: rgb(0,0,0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}

.editions-main-container h2 {
  color: white;
  font-size: 50px;
  font-family: 'Raleway', 'sans-serif';
  font-weight: 200;
}

.edition-container {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  pointer-events: none;
}

.edition-enter-animation-container {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.e-anim-1 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 100%);
  transform-origin: top;
}

.e-anim-2 {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(51,51,51);
  background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(65,0,134,1) 100%);
  transform-origin: bottom;
}

.e-anim-1-2005 {
  background: rgb(110,208,22);
  background: linear-gradient(90deg, rgba(110,208,22,1) 0%, rgba(251,38,107,1) 100%);
}

.e-anim-2-2005 {
  background: rgb(251,38,107);
  background: linear-gradient(90deg, rgba(251,38,107,1) 0%, rgba(22,144,208,1) 100%);
}

.e-anim-1-2006 {
  background: rgb(251,156,38);
  background: linear-gradient(90deg, rgba(251,156,38,1) 0%, rgba(7,115,153,1) 100%);
}

.e-anim-2-2006 {
  background: rgb(7,115,153);
  background: linear-gradient(90deg, rgba(7,115,153,1) 0%, rgba(184,38,251,1) 100%);
}

.e-anim-1-2007 {
  background: rgb(152,153,7);
  background: linear-gradient(90deg, rgba(152,153,7,1) 0%, rgba(135,242,241,1) 100%);
}

.e-anim-2-2007 {
  background: rgb(135,242,241);
  background: linear-gradient(90deg, rgba(135,242,241,1) 0%, rgba(134,7,153,1) 100%);
}

.e-anim-1-2008 {
  background: rgb(135,144,242);
  background: linear-gradient(90deg, rgba(135,144,242,1) 0%, rgba(31,159,44,1) 100%);
}

.e-anim-2-2008 {
  background: rgb(31,159,44);
  background: linear-gradient(90deg, rgba(31,159,44,1) 0%, rgba(135,144,242,1) 100%);
}

.e-anim-1-2009 {
  background: rgb(60,214,42);
  background: linear-gradient(90deg, rgba(60,214,42,1) 0%, rgba(234,242,135,1) 100%);
}

.e-anim-2-2009 {
  background: rgb(234,242,135);
  background: linear-gradient(90deg, rgba(234,242,135,1) 0%, rgba(214,42,42,1) 100%);
}

.e-anim-1-2010 {
  background: rgb(214,42,210);
  background: linear-gradient(90deg, rgba(214,42,210,1) 0%, rgba(242,135,135,1) 100%);
}

.e-anim-2-2010 {
  background: rgb(242,135,135);
  background: linear-gradient(90deg, rgba(242,135,135,1) 0%, rgba(60,214,42,1) 100%);
}

.e-anim-1-2011 {
  background: rgb(110,208,22);
  background: linear-gradient(90deg, rgba(110,208,22,1) 0%, rgba(251,38,107,1) 100%);
}

.e-anim-2-2011 {
  background: rgb(251,38,107);
  background: linear-gradient(90deg, rgba(251,38,107,1) 0%, rgba(22,144,208,1) 100%);
}

.e-anim-1-2012 {
  background: rgb(251,156,38);
  background: linear-gradient(90deg, rgba(251,156,38,1) 0%, rgba(7,115,153,1) 100%);
}

.e-anim-2-2012 {
  background: rgb(7,115,153);
  background: linear-gradient(90deg, rgba(7,115,153,1) 0%, rgba(184,38,251,1) 100%);
}

.e-anim-1-2013 {
  background: rgb(152,153,7);
  background: linear-gradient(90deg, rgba(152,153,7,1) 0%, rgba(135,242,241,1) 100%);
}

.e-anim-2-2013 {
  background: rgb(135,242,241);
  background: linear-gradient(90deg, rgba(135,242,241,1) 0%, rgba(134,7,153,1) 100%);
}

.e-anim-1-2014 {
  background: rgb(135,144,242);
  background: linear-gradient(90deg, rgba(135,144,242,1) 0%, rgba(31,159,44,1) 100%);
}

.e-anim-2-2014 {
  background: rgb(31,159,44);
  background: linear-gradient(90deg, rgba(31,159,44,1) 0%, rgba(135,144,242,1) 100%);
}

.e-anim-1-2015 {
  background: rgb(60,214,42);
  background: linear-gradient(90deg, rgba(60,214,42,1) 0%, rgba(234,242,135,1) 100%);
}

.e-anim-2-2015 {
  background: rgb(234,242,135);
  background: linear-gradient(90deg, rgba(234,242,135,1) 0%, rgba(214,42,42,1) 100%);
}

.e-anim-1-2016 {
  background: rgb(214,42,210);
  background: linear-gradient(90deg, rgba(214,42,210,1) 0%, rgba(242,135,135,1) 100%);
}

.e-anim-2-2016 {
  background: rgb(242,135,135);
  background: linear-gradient(90deg, rgba(242,135,135,1) 0%, rgba(60,214,42,1) 100%);
}

.e-anim-1-2017 {
  background: rgb(135,242,172);
  background: linear-gradient(90deg, rgba(135,242,172,1) 0%, rgba(56,42,214,1) 100%);
}

.e-anim-2-2017 {
  background: rgb(56,42,214);
  background: linear-gradient(90deg, rgba(56,42,214,1) 0%, rgba(242,241,135,1) 100%);
}

.e-anim-1-2018 {
  background: rgb(63,214,42);
  background: linear-gradient(90deg, rgba(63,214,42,1) 0%, rgba(135,242,172,1) 100%);
}

.e-anim-2-2018 {
  background: rgb(135,242,172);
  background: linear-gradient(90deg, rgba(135,242,172,1) 0%, rgba(160,42,214,1) 100%);
}

.e-anim-1-2019 {
  background: rgb(6,175,182);
  background: linear-gradient(90deg, rgba(6,175,182,1) 0%, rgba(188,218,219,1) 100%);
}

.e-anim-2-2019 {
  background: rgb(188,218,219);
  background: linear-gradient(90deg, rgba(188,218,219,1) 0%, rgba(182,6,63,1) 100%);
}

.edition-enter-animation-text {
  font-family: 'Montserrat', 'sans-serif';
  color: white;
  font-size: 20vw;
}

.edition-infos-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
  display: flex;
}

.editions-infos-shader-container {
  width: 100%;
  background-color: hsla(184, 100%, 11%, 0.815);
  display: flex;
  flex-direction: column;
}

.editions-three-part-container {
  width: 100%;
  height: 89%;
  display: flex;
  justify-content: space-around;
  overflow-y: hidden;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 45%;
  background: rgb(255,123,0);
  background: radial-gradient(circle, rgba(255,123,0,1) 0%, rgba(203,98,0,1) 0%, rgba(174,84,0,1) 5%, rgba(133,64,0,1) 11%, rgba(101,48,0,1) 20%, rgba(56,27,0,1) 29%, rgba(30,15,0,1) 43%, rgba(24,12,0,1) 53%, rgba(23,11,0,1) 61%, rgba(22,11,0,1) 70%, rgba(0,0,0,1) 100%);
}

.editions-images {
  max-width: 95%;
  max-height: 95%;
  transition: all 1s ease;
  pointer-events: all;
}

.editions-images:hover {
  transform: scale(1.05);
}

.editions-left-part {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
}

.editions-mid-part {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
}

.editions-infos-text-container {
  width: 95%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.editions-infos-text {
  display: flex;
  width: 80%;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: white;
  font-family: 'Raleway', 'sans-serif';
  overflow: visible;
  border-radius: 10px;
  position: relative;
}

.i-anim {
  position: absolute;
}

.i-anim-top {
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: white;
  transform-origin: left;
}

.i-anim-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: white;
  transform-origin: top;
}

.i-anim-bottom {
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: white;
  transform-origin: right;
}

.i-anim-left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: white;
  transform-origin: bottom;
}

.editions-theme-container {
  font-family: 'Raleway', 'sans-serif';
  font-size: 1.3vw;
  overflow: visible;
  color: rgb(255, 123, 0);
}

hr {
  width: 75%;
  margin: auto;
}

.editions-theme-text {
  font-size: 2vw;
  max-width: 96%;
}

.editions-date-text {
  font-size: 1.5vw;
  font-weight: 200;
}

.editions-visitors-text {
  font-size: 1.5vw;
  font-weight: 200;
}

.editions-right-part {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
}

.img-preview-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background-color: rgba(0, 107, 110, 0.767);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-logo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  width: 50px;
  pointer-events: all;
}

.img-preview {
  max-width: 80%;
  max-height: 80%;
}

.edition-infos-container-2005 {
  background-position: center;
}

.edition-infos-container-2007 {
  background-position: center;
}

.edition-infos-container-2017 {
  background-position: bottom;
}

.edition-infos-container-2018 {
  background-position: bottom;
}

.edition-aftermovie-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  display: flex;
  overflow: hidden;
}

.aftermovie-bg-video {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.aftermovie-text-container{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aftermovie-text {
  color: white;
  font-size: 3vw;
}

.aftermovie-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aftermovie {
  width: 80%;
  height: 80%;
  pointer-events: all;
  border: none;
}

.e-anim-1-2005 {
  background-color: yellowgreen;
}
.e-anim-1-2019 {
  background-color: yellowgreen;
}

/*
TINELINE
*/

.timeline-main-container {
  width: 100%;
  height: 11%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.212);
  border-radius: 10px;
  overflow: visible;
}

.timeline {
  width: 99%;
  height: 3px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 10px;
  overflow: visible;
}

.timeline-edition {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow: visible;
}

.timeline-stop {
  width: 3px;
  height: 10px;
  background-color: rgb(0, 0, 0);
}

.timeline-year {
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  padding-bottom: 5px;
  pointer-events: all;
  transition: all .25s ease;
  font-size: 1vw;
  cursor: pointer;
}
.timeline-year:hover {
  color: rgb(251, 18, 18);
  transform: scale(2) translateY(-3px);
}

.timeline-active {
  transform: scale(2) translateY(-3px);
  color: rgb(255, 123, 0);
}


/*
TRANSITION UL
*/

.ul-transition{
  position: absolute;
  top:0;
  width: 100%;
  height: 100vh;
  height : calc(var(--vh, 1vh)*100);
  display: flex;
  pointer-events: none;
}
.ul-transition li {
  width: 10%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transform-origin: top;
  transform: scaleY(0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Raleway', 'sans-serif';
  font-size: 3vw;
}

.pgone-buttons-container {
  display: none;
}

@media screen and (max-width: 1440px) {

}


@media screen and (max-width: 990px) {

  .loader-home-container {
    width: 50%;
  }

  .phone-buttons-container {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    height : calc(var(--vh, 1vh)*100);
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    z-index: 10;
  }

  .phone-right-button {
    width: 20%;
    height: 65%;
    border-radius: 30px 0 0 30px;
    pointer-events: all;
  }

  .phone-left-button {
    width: 20%;
    height: 65%;
    border-radius: 0 30px 30px 0;
    pointer-events: all;
  }

  .header-logo {
    width: 80%;
  }

  .howto-container {
    height: 15vh;
    justify-content: space-evenly;
  }

  .howto-container h1 {
    font-size: 4vw;
    text-align: center;
    padding: 0 10px;
  }

  .desktop-h1 {
    display: none;
  }

  .desktop-h2 {
    display: none;
  }

  .mobile-h1 {
    display: block;
  }

  .mobile-h2 {
    display: block;
  }

  .howto-container h2 {
    font-size: 10px;
    text-align: center;
    max-width: 90%;
  }


  .transition-1-text-1 {
    font-size: 4vw;
  }

  .transition-1-text-2 {
    font-size: 4vw;
  }

  .transition-1-text-3 {
    font-size: 4vw;
  }
  
  .announcement-text {
    font-size: 4vw;
    max-width: 80%;
    text-align: center;
  }

  .a-anim-11 {
    font-size: 7.5vw;
  }

  .a-anim-13 {
    background-position: center;
  }

  .edition-infos-container {
    background-position: center;
  }

  .edition-infos-container-2008 {
    background-position: right;
  }

  .editions-three-part-container {
    flex-direction: column;
  }

  .editions-mid-part {
    order: 1;
    width: 100%;
    flex-basis: 50%;
  }  

  .editions-left-part {
    order: 2;
    flex-direction: row;
    width: 100%;
    flex-basis: 22%;
  }

  .editions-right-part {
    order: 3;
    flex-direction: row;
    width: 100%;
    flex-basis: 22%;
  }

  .editions-infos-text-container {
    flex-basis: 50%;
  }

  .editions-infos-text {
    width: 60%;
    height: 100%;
  }

  .img-container {
    width: 47%;
  }

  .editions-images {
    max-width: 95%;
    max-height: 95%;
  }

  .img-2-container {
    height: 100%;
  }

  .img-3-container {
    height: 100%;
  }

  .img-5-container {
    height: 100%;
  }

  .img-6-container {
    height: 100%;
  }

  .img-2 {
    transform-origin: left;
    transition: all .5 ease;
  }

  .img-3 {
    transform-origin: right;
    transition: all .5 ease;
  }

  .img-4 {
    flex-shrink: 0;
    transform-origin: top;
    transition: all .5 ease;
  }

  .img-5 {
    transform-origin: bottom left;
    transition: all .5 ease;
  }

  .img-6 {
    transform-origin: bottom right;
    transition: all .5 ease;
  }

  .img-preview {
    max-width: 95%;
    max-height: 95%;
  }

  .editions-main-container h2 {
    font-size: 6vw;
  }

  hr {
    width: 50%;
  }

  .editions-theme-text {
    font-size: 4.5vw;
    max-width: 90%;
    margin: auto;
  }

  .editions-date-text {
    font-size: 3vw;
  }

  .editions-visitors-text {
    font-size: 3vw;
  }

  .timeline-main-container {
    padding-top:30px;
  }

  .timeline-container {
    height: 7.5px;
    width: 93%;
  }

  .timeline {
    height: 1.5px;
  }

  .timeline-stop {
    width: 1.5px;
  }

  .timeline-year {
    font-size: 1.8vw;
  }

  .edition-aftermovie-container {
    background: rgb(80,80,80);
    background: radial-gradient(circle, rgba(80,80,80,1) 0%, rgba(49,49,49,1) 16%, rgba(23,23,23,1) 39%, rgba(0,0,0,1) 100%);
  }

  .aftermovie-bg-video {
    display: none;
  }

  .aftermovie {
    width: 95%;
    height: 50%;
  }
}